In [1]:
import pandas as pd

In [2]:
friends = [
    {'name': 'Jone', 'age':20, 'job':'student'},
    {'name': 'Jenny', 'age':30, 'job':None},
    {'name': 'Nate', 'age':30, 'job':'teacher'}
]   #데이터프레임 생성
df = pd.DataFrame(friends)
df = df[['name', 'age', 'job']]

In [3]:
df.head()

    name  age      job
0   Jone   20  student
1  Jenny   30     None
2   Nate   30  teacher

In [6]:
df.to_csv('friends.csv', index = True, header = True, na_rep='-')  #데이터 csv파일 생성하기, index와 header는 default값으로 True를 갖는다
#index = False로 주면 rowid 삭제됨.(0,1,2) 마찬가지로 header역시 삭제 가능
#na_rep는 None 데이터를 -로 나타낸다는 의미