In [1]:
import pandas as pd   #pandas를 pd로 부르겠다는 의미

In [2]:
friend_dict_list = [
    {'name': 'John', 'age': 25, 'job': 'student'},
    {'name': 'Nate', 'age': 30, 'job': 'teacher'},
]              #딕셔너리 사용해서 만듦

In [4]:
df = pd.DataFrame(friend_dict_list)  #위에서 만든 딕셔너리 저장

In [6]:
df.head()

   name  age      job
0  John   25  student
1  Nate   30  teacher

In [7]:
df = df[['name', 'age', 'job']]   #column순서 지정

In [8]:
df.head()

   name  age      job
0  John   25  student
1  Nate   30  teacher

In [9]:
from collections import OrderedDict   #데이터 만들었을 때 key 순서 보장(column순서)

In [10]:
friend_ordered_dict = OrderedDict(
[
    ('name',['John','Nate']),
    ('age',[25, 30]),
    ('job',['student','teacher']),
])

In [11]:
df = pd.DataFrame.from_dict(friend_ordered_dict)   #OrderedDict사용

In [12]:
df.head()

   name  age      job
0  John   25  student
1  Nate   30  teacher

In [15]:
friend_list = [
    ['John', 25, 'student'],
    ['Nate', 30, 'teacher']    
]                        #파이썬 list를 사용하여 만들기

In [14]:
column_name = ['name', 'age', 'job']   #head정보 작성

In [17]:
df = pd.DataFrame.from_records(friend_list, columns = column_name)   #데이터는 list를, head는 column_name이용할 것

In [18]:
df.head()

   name  age      job
0  John   25  student
1  Nate   30  teacher

In [19]:
friend_list = [
    ['name',['John', 'Nate']],
    ['age',[25, 30]],
    ['job',['student', 'teacher']]
]         #column_head 한 번에 만들기

In [21]:
df = pd.DataFrame.from_dict(OrderedDict(friend_list))

In [22]:
df.head()

   name  age      job
0  John   25  student
1  Nate   30  teacher