In [1]:
import pandas as pd

In [2]:
date_list = [{'yyyy-mm-dd': '2000-06-27'},
         {'yyyy-mm-dd': '2002-09-24'},
         {'yyyy-mm-dd': '2005-12-20'}]
df = pd.DataFrame(date_list, columns = ['yyyy-mm-dd'])
df

   yyyy-mm-dd
0  2000-06-27
1  2002-09-24
2  2005-12-20

In [6]:
#apply function으로 column추가
def extract_year(column):
    return column.split('-')[0]  #'-'로 split한것 중 첫 번째만

In [7]:
df['year']=df['yyyy-mm-dd'].apply(extract_year)  #for문 쓰지 않고도 모든 row에 col만들어줌

In [8]:
df

   yyyy-mm-dd  year
0  2000-06-27  2000
1  2002-09-24  2002
2  2005-12-20  2005

In [12]:
def get_age(year,current_year):
    return current_year - int(year)

In [32]:
#새 column생성
df['age']=df['year'].apply(get_age, current_year=2020)

In [33]:
df

   yyyy-mm-dd  year  age           introduc          introduce
0  2000-06-27  2000   20  I am 20years old.  I am 20years old.
1  2002-09-24  2002   18  I am 18years old.  I am 18years old.
2  2005-12-20  2005   15  I am 15years old.  I am 15years old.

In [28]:
#parameter 여러개 보내기
def get_introduce(age, prefix, suffix):
    return prefix + str(age)+suffix

In [29]:
df['introduce']=df['age'].apply(get_introduce, prefix="I am ", suffix = "years old.")

In [30]:
df

   yyyy-mm-dd  year  age           introduc          introduce
0  2000-06-27  2000   20  I am 20years old.  I am 20years old.
1  2002-09-24  2002   18  I am 18years old.  I am 18years old.
2  2005-12-20  2005   15  I am 15years old.  I am 15years old.

In [31]:
def get_introduce_2(row):
    return "I was born in "+str(row.year)+ " my age is "+ str(row.age)

In [26]:
df.introduce = df.apply(get_introduce_2, axis=1)  #df[introduc2_2]와 같음

In [27]:
df

   yyyy-mm-dd  year  age           introduc                        introduce
0  2000-06-27  2000   20  I am 20years old.  I was born in 2000 my age is 20
1  2002-09-24  2002   18  I am 18years old.  I was born in 2002 my age is 18
2  2005-12-20  2005   15  I am 15years old.  I was born in 2005 my age is 15